<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kehui.t_h200">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAG" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_number"
        android:supportsRtl="true"
        android:name="com.kehui.t_h200.app.App"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <!-- 适配长屏幕 黑边问题 -->
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <activity android:name="com.kehui.t_h200.activity.MainActivity" android:screenOrientation="portrait" />
        <activity android:name="com.kehui.t_h200.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kehui.t_h200.activity.SeekDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.kehui.t_h200.activity.DeviceListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.kehui.t_h200.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.kehui.t_h200.activity.AssistDetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.kehui.t_h200.activity.ShowAssistInfoActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.kehui.t_h200.activity.SwitchLanguageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.kehui.t_h200.activity.AboutUsActivity" android:screenOrientation="portrait"></activity>
        <receiver android:name="com.kehui.t_h200.receiver.RestartAppReceiver">
            <intent-filter>
                <action android:name="restartapp" />
            </intent-filter>
        </receiver>
        <activity android:name="com.kehui.t_h200.base.BaseActivity" />
    </application>

</manifest>